@import "variables";

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .heading {
    font-size: 34px !important;
  }

  #homePage {
    #homeHero {
      .homeHeroSwiper {
        .swiper-wrapper {
          .img-fluid {
              height: 100vh !important;
            }
        }
      }

        .homehero-content {
            h1 {
            font-size: 40px;
            line-height: 50px;
          }

          p {
            font-size: 16px;
          }

          a {
            font-size: 16px;
          }
      }
    }

    #service-counter {
      .service-counter-wrapper {
        .counter-item {
          margin: 0 !important;
        }
      }
    }
  }

  #aboutPage {
    .heading {
      font-size: 30px !important;
    }
  }

  #toursCustomizePage {
    #customize-tour {
      img {
        height: 22rem;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 992px) {
  p, a, ul, li, span {
    font-size: 16px;
  }

  #hero {
    h1 {
      font-size: 40px;
    }
  }

  #homePage {
    #book-your-trip {
      .heading {
        font-size: 42px !important;
        line-height: 50px !important;
      }
    }

    #featured-trips {
      .card {
        .card-title {
          font-size: 20px;
        }
      }
    }
  }

  #aboutPage {
    #intro-section {
      .row {
        padding: 0 12rem;
      }

      p {
        line-height: 26px
      }
    }
  }

  #faqPage {
    #faq-intro {
      p {
        padding: 0 14rem;
      }
    }
  }

  #toursPage {
    #tour-theme {
      .supportive-text {
        padding: 0 12%;
      }
    }
  }
  
  #toursCustomizePage {
    #customize-tour {
      .code {
        width: 20% !important;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #homePage {
    #homeHero {
      .homehero-content {
        h1 {
          font-size: 54px;
          line-height: 68px;
        }

        p {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }

    #beauty-of-srilanka {
      .heading {
        font-size: 44px !important;
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}
