@import "variables";

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .heading {
    font-size: 34px !important;
  }
  
  #homePage {
    #homeHero {
      .homeHeroSwiper {
        .swiper-wrapper {
          .img-fluid {
              height: 100vh !important;
            }
        }
      }

        .homehero-content {
            h1 {
            font-size: 40px;
            line-height: 50px;
          }

          p {
            font-size: 16px;
          }

          a {
            font-size: 16px;
          }
      }
    }
  }
}

@media (min-width: 992px) {
  p, a, ul, li {
    font-size: 16px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #homePage {
    #homeHero {
      .homehero-content {
        h1 {
          font-size: 54px;
          line-height: 68px;
        }

        p {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}
