@import "variables";

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

@media (min-width: 992px) {
  p, a, ul, li {
    font-size: 16px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}
