@import "variables";

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  header {
    .navbar {
      .offcanvas {
        .offcanvas-body {
          .navbar-nav {
            line-height: initial;

            .nav-item {
              margin: 0px 7px;

              .nav-link {
                font-size: 12px;
              }

              &:first-child {
                margin-left: 0;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  // Home hero
  #homeHero {
    h1 {
      font-size: 35px;
    }
    &::after {
      background-size: contain;
    }
  }

  // Tour page hero style
  #tourPage {
    #hero {
      img {
        object-position: 0 -45px;
      }
    }

    //Fleet section stylings
    #ourFleet {
      .col {
        .fleet-card {
          width: 100%;
        }
      }
    }
  }

  #galleryPage {
    // Gallery page styling starts
    #galleryContent {
      .gallery-card {
        overflow: hidden;
        border: none;
        height: 100%;

        img {
          border-radius: 3px;
          height: 100%;
        }
      }
    }
    // Gallery page styling ends
  }

  #homePage {
    #welcome {
      .welcome-intro {
        h2 {
          line-height: 50px;
          font-size: 45px;
        }
      }

      .welcome-details {
        padding: 60px;
      }
    }

    #booking {
      form {
        #requiredVehicles {         
          .form-check {
            flex: 3 33.33%;
          }
        }
      }
    }

    //Team section
    #team {
      .container-fluid {
        .team-right-section {
          .specials {
            .swiper-slide {
              img {
                display: flex;
                justify-content: center;
              }
            }

            .swiper-pagination {
              padding: 28px;
            }
          }
        }
      }
    }

    //Memories styling
    #memories {
      .points-container {
        .img-container {
          img {
            width: 55%;
          }
          &::before {
            left: 61%;
            width: 12%;
            top: 32%;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  p, a, ul, li {
    font-size: 16px;
  }

  #hero {
    h1 {
      font-size: 63px;
    }
  }
  header {
    .navbar {
      .offcanvas {
        .offcanvas-body {
          .navbar-nav {
            .nav-item {
              margin: 0 8px;

              .nav-link {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  #homeHero {
    h1 {
      font-size: 45px;
      line-height: 50px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
    }
  }

  #homePage {
    // Home page specials section stylings
    #hero {
      height: 350px;

      .hero-content {
        h1 {
          font-size: 50px;
        }
      }
    }

    // Memories section stylings
    #memories {
      .points-container {
        .img-container {
          img {
            width: 450px;
          }
          &::before {
            left: 64%;
            width: 24%;
            top: 28%;
          }
        }
      }
    }

    // Home page specials section stylings
    #specials {
      .container-fluid {
        .square-section {
          .square-section-content {
            padding: 110px 75px;
          }
        }
      }
    }
  }

  #galleryPage {
    // Gallery page hero style
    #galleryPage {
      #hero {
        img {
          object-position: 0 -160px;
        }
      }
    }
  }

  //Team styling starts
  #team {
    .container-fluid {
      .team-right-section {
        .specials {
          .swiper-slide {
            img {
              display: flex;
              justify-content: center;
              padding: 2px 54px;
            }
          }
        }
      }
    }
  }
  //Team styling ends

  footer {
    .row {
      &:first-child {
        h6 {
          font-size: 22px;
        }

        p {
          font-size: 18px;
        }

        #footer-social-list {
          li {
            a {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  header {
    .navbar {
      .offcanvas {
        .offcanvas-body {
          .navbar-nav {
            .nav-item {
              margin: 0 12px;
            }
          }
        }
      }
    }
  }

  // Memories section stylings
  #memories {
    .points-container {
      .img-container {
        &::before {
          left: 65%;
        }
      }
    }
  }

  // Home page specials section stylings
  #specials {
    .container-fluid {
      .square-section {
        .square-section-content {
          padding: 140px 150px;
        }
        h4 {
          font-size: 40px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }

  // Tour page hero style
  #tourPage {
    #hero {
      img {
        object-position: 0 -135px;
      }
    }
  }

  //Fleet page styles
  #ourFleet {
    .col {
      .fleet-card {
        width: 100%;
      }
    }
  }

  #galleryPage {
    // Gallery page hero style
    #galleryPage {
      #hero {
        img {
          object-position: 0 -360px;
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  #homePage {
    //Home hero stylings start
    #homeHero {
      h1 {
        font-size: 57px;
        line-height: 65px;
      }

      p {
        font-size: 20px;
        line-height: 29px;
      }
    }
    //Home hero stylings ends

    #welcome {
      .welcome-intro {
        padding: 100px;
      }

      .welcome-details {
        padding: 100px;
      }
    }

    // Specials styling starts
    #specials {
      .container {
        .col {
          .specials-card {
            height: 350px;
          }
        }
      }
    }
    // Specials styling ends

    // Team stylings starts
    #team {
      .container-fluid {
        .team-left-section {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 0px 90px;

          h2 {
            font-size: 3rem;
            font-weight: 600;
            text-transform: capitalize;
            line-height: 53px;
          }
        }

        .team-right-section {
          .specials {
            .swiper-slide {
              img {
                display: flex;
                justify-content: center;
                padding: 50px 100px;
              }
            }

            .swiper-pagination {
              padding: 19px;
            }
          }
        }
      }
    }
    // Team stylings ends

    // Memories section stylings
    #memories {
      .col {
        img {
          width: 64%;
        }
      }
      .points-container {
        .img-container {
          img {
            width: 80%;
          }

          &::before {
            left: 68%;
            width: 20%;
          }
        }

        .facts-container {
          ul {
            li {
              font-size: 20px;

              p {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  #tourPage {
    // Our fleet styling starts
    #ourFleet {
      .col {
        padding: 25px 20px 20px 20px;

        .fleet-card {
          .card-body {
            .card-title {
              font-size: 22px;
            }

            table {
              td {
                font-size: 17px;
              }
            }
          }
        }
      }
    }
    // Our fleet styling ends
  }

  #galleryPage {
    // Gallery page styling starts
    #galleryContent {
      .gallery-card {
        overflow: hidden;
        border: none;
        height: 100%;

        img {
          border-radius: 3px;
          height: 100%;
        }
      }
    }
    // Gallery page styling ends
  }

  #licensePage {
    // License styling starts
    #applyForLicenseInfo {
      img {
        width: 61%;
      }
    }
    // License styling end
  }
}
