@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  transition: transform 0.3s ease-in-out;
}

p, a, ul, li {
  font-size: 14px;
}

.heading {
  color: #0060a6;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.supportive-text {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  line-height: 28px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header .navbar {
  background-color: rgba(23, 23, 23, 0.6);
}
header .navbar .navbar-brand {
  color: #ffffff;
}
header .navbar .navbar-brand img {
  width: 20%;
}
header .navbar .navbar-toggler {
  color: #ffffff;
}
header .navbar .offcanvas {
  width: 80%;
  background-color: #000000;
}
header .navbar .offcanvas .offcanvas-header .offcanvas-title {
  color: #ffffff;
  font-size: 22px;
}
header .navbar .offcanvas .offcanvas-header .offcanvas-title span {
  color: #0060a6;
}
header .navbar .offcanvas .offcanvas-header .btn-close {
  border-radius: 50px;
  background-color: #fbfbfb;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav {
  line-height: 30px;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item {
  margin: 0;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  font-family: "Libre Baskerville", serif;
  color: #ffffff;
  text-transform: uppercase;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item:hover .nav-link {
  color: #0060a6;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item:hover .nav-link::after {
  content: "";
  display: block;
}

#hero,
#homeHero {
  position: relative;
  height: 50vh;
  /* Overlay */
}
#hero img,
#homeHero img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
#hero::before,
#homeHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

#homePage #homeHero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#homePage #homeHero .homeHeroSwiper .swiper-wrapper .img-fluid {
  height: 100vh !important;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  position: relative;
}
#homePage #homeHero .homehero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 10;
  width: 100%;
}
#homePage #homeHero .homehero-content h1 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 42px;
  margin: 0;
}
#homePage #homeHero .homehero-content p {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#homePage #homeHero .homehero-content a {
  display: inline-block;
  padding: 14px 20px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}
#homePage #homeHero .homehero-content a:hover {
  background-color: #0060a6;
  color: #ffffff;
  border: 1.475px solid #0060a6;
}
#homePage #why-choose-us {
  overflow: hidden;
}
#homePage #why-choose-us .card {
  background-color: rgba(159, 159, 189, 0.1019607843);
  border: 0;
}
#homePage #why-choose-us .card ul li {
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
#homePage #why-choose-us .card ul li img {
  width: 30px;
  margin-right: 15px;
}
#homePage #why-choose-us .card ul li p {
  margin-bottom: 0;
}
#homePage #why-choose-us .why-choose-us-img {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
#homePage #why-choose-us .why-choose-us-img:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}
#homePage #service-counter {
  background-color: #f8f9fa;
}
#homePage #service-counter .service-counter-wrapper {
  flex-wrap: wrap;
}
#homePage #service-counter .service-counter-wrapper .counter-item {
  text-align: center;
  margin: 32px 0;
  transition: transform 0.3s ease;
  margin-top: 0;
}
#homePage #service-counter .service-counter-wrapper .counter-item:hover {
  transform: translateY(-10px);
}
#homePage #service-counter .service-counter-wrapper .counter-item .counter-number {
  font-size: 32px;
  font-weight: 700;
  color: #0060a6;
  margin-bottom: 0;
}
#homePage #service-counter .service-counter-wrapper .counter-item .counter-label {
  font-size: 1.1rem;
  color: #000000;
  font-weight: 500;
  margin-bottom: 0;
}

#whatsapp-widget .chat-header,
#whatsapp-widget .chat-content,
#whatsapp-widget .message-input {
  position: fixed;
  right: 20px;
  width: 300px;
  background-color: #e5ddd5;
  z-index: 10003;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#whatsapp-widget .chat-header {
  top: calc(100% - 420px);
  height: 60px;
  background-color: #075e54;
  color: white;
  padding: 10px;
  display: none;
  align-items: center;
  border-radius: 12px 12px 0 0;
}
#whatsapp-widget .chat-header .avatar-container {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#whatsapp-widget .chat-header img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#whatsapp-widget .chat-header .online-dot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background-color: #25d366;
  border-radius: 50%;
  border: 2px solid #075e54;
}
#whatsapp-widget .chat-header .chat-header-info {
  flex-grow: 1;
}
#whatsapp-widget .chat-header span {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  color: #FFF;
}
#whatsapp-widget .chat-header .online-status {
  font-size: 12px;
}
#whatsapp-widget .chat-header .close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}
#whatsapp-widget .chat-header .close-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#whatsapp-widget .chat-content {
  top: calc(100% - 360px);
  height: 300px;
  padding: 20px;
  overflow-y: auto;
  display: none;
}
#whatsapp-widget .chat-content .message {
  max-width: 80%;
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 7.5px;
  position: relative;
  word-wrap: break-word;
}
#whatsapp-widget .chat-content .message.received {
  background-color: #ffffff;
  align-self: flex-start;
}
#whatsapp-widget .chat-content .message.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
  margin-left: auto;
}
#whatsapp-widget .message-input {
  bottom: 20px;
  height: 60px;
  display: none;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 0 0 12px 12px;
}
#whatsapp-widget .whatsapp-btn {
  background-color: #25d366;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#whatsapp-widget .whatsapp-btn:hover {
  background-color: #128c7e;
}
#whatsapp-widget .typing-indicator {
  background-color: #e5ddd5;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
}
#whatsapp-widget .typing-indicator span {
  height: 10px;
  width: 10px;
  float: left;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
#whatsapp-widget .typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}
#whatsapp-widget .typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}
#whatsapp-widget .typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}
@keyframes blink {
  50% {
    opacity: 1;
  }
}
#whatsapp-widget .chat-icon {
  position: fixed;
  bottom: 90px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10004;
  animation: wave 2s infinite;
}
#whatsapp-widget .chat-icon img {
  width: 35px;
  height: 35px;
}
@keyframes wave {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}

footer {
  color: #ffffff;
  background-image: url("../images/footer-img.png"), linear-gradient(165deg, rgba(255, 255, 255, 0) 0%, #000000 100%) !important;
  background-size: cover;
  overflow: hidden;
  background-blend-mode: overlay;
}
footer .row:first-child {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid #333935;
}
footer .row:first-child .footer-logo {
  display: flex;
  align-items: center;
}
footer .row:first-child .footer-logo img {
  width: 40%;
}
footer .row:first-child .footer-logo span {
  color: #0060a6;
}
footer .row:first-child h6 {
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 22px;
}
footer .row:first-child p {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ffffff;
}
footer .row:first-child ul {
  margin: 0;
}
footer .row:first-child ul li {
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  font-size: 15px;
}
footer .row:first-child ul li a {
  color: #ffffff;
  text-decoration: none;
}
footer .row:first-child #footer-social-list li a {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2588235294);
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}
footer .row:first-child #footer-contact-list li img {
  background-color: #ffffff;
  padding: 4px;
  border-radius: 40%;
}
footer .row:first-child #footer-contact-list li a {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 46px;
}
footer .row:last-child p {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
footer .row:last-child p a {
  color: #ffffff;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */