@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Fonts
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$color-primary: #0060a6;
$color-white: #ffffff;
$color-black: #000000;
$light-background-black : rgba(0, 0, 0, 0.5);