@import url("https://use.typekit.net/zhg1qdc.css");
// Fonts
$font-primary: 'Cambria';

// Colors
$color-primary: #0060a6;
$color-white: #ffffff;
$color-black: #000000;
$light-background-black : rgba(0, 0, 0, 0.5);