@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
// Fonts
$font-primary: 'Prompt';
$font-secondary: 'Jost';
$font-tagline: 'Dancing Script';

// Colors
$pure-black: #171717;
$black: #000;
$primary-green: #63AB45;
$active-green: #3B9914;
$light-green: #4bff00;
$brand-yellow: #F2E900;
$background-yellow: #CBCA7B;
$grey: #787878;
$text-black: #000000;
$tertiary-green: #3CB371;
$pure-white: #FFF;
$background-white: #FCFCFC;
$light-grey: #999;
$light-black:rgba(72, 72, 72, 0.7);
$section-white: #F7F7F7;
$background-black:#333935;
$light-background-black : rgba(0, 0, 0, 0.7);