@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

// Fonts
$font-primary: 'Libre Baskerville', serif;

// Colors
$color-primary: #0060a6;
$color-white: #ffffff;
$color-black: #000000;
$light-background-black : rgba(0, 0, 0, 0.5);